.card {
  padding: 10px;
  margin: 10px;
}

.card--enrolled {
  background-color: #e6ffe6;
}

.card--full {
  border: 2px solid red;
}

.expanded {
  height: 200px;
}

.green { color: green; }
.red { color: red; }
.grey { color: grey; }