<div class="card"
     [ngClass]="cardClasses"
     [ngStyle]="{'border-left': '5px solid ' + getBorderColor()}">

  <h3>{{ course.name }}</h3>

  <p>{{ course.credits | creditLabel }}</p>

  <div [ngSwitch]="course.gradeStatus">
    <span *ngSwitchCase="'passed'" style="color: green;">Passed</span>
    <span *ngSwitchCase="'failed'" style="color: red;">Failed</span>
    <span *ngSwitchDefault style="color: grey;">Pending</span>
  </div>

  <button (click)="toggleDetails()">Show Details</button>

</div>